name: Fetch CMCC Optimization IPs

on:
  schedule:
    # 每天 UTC 时间凌晨 0 点（北京时间早上 8 点）自动执行
    - cron: "0 */12 * * *"
  # 允许在 GitHub Actions 页面手动点击运行
  workflow_dispatch: 

permissions:
  contents: write # 赋予工作流提交和推送代码的权限

jobs:
  update-ips:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch and format IPs
        run: |
          curl -sSL https://cf.090227.xyz/cmcc?ips=5 | sed 's/#.*//' | awk '{print $0 "#CMCC-IPv4_CMLiu_" NR}' > ./ip.txt
          curl -sSL https://cf.090227.xyz/cmcc-ipv6 | sed 's/#.*//' | awk '{print $0 "#CMCC-IPv6_CMLiu_" NR}' >> ./ip.txt
          curl -sSL https://api.hostmonit.com/get_optimization_ip --data-raw '{"key":"iDetkOys"}' | jq -r '.info[] | select(.line == "CM") | .ip' | awk '{print $0 "#CMCC-IPv4_CFYes_" NR}' >> ./ip.txt
          curl -sSL https://api.hostmonit.com/get_optimization_ip --data-raw '{"key":"iDetkOys","type":"v6"}' | jq -r '.info[] | select(.line == "CM") | .ip' | awk '{print "["$0"]#CMCC-IPv6_CFYes_" NR}' >> ./ip.txt
          curl -sSL https://www.wetest.vip/page/cloudflare/address_v4.html | awk '/移动/{getline; print}' | awk -F '[<>]' '{print $3}' | awk '{print $0 "#CMCC-IPv4_WeTest_" NR}' >> ./ip.txt
          curl -sSL https://www.wetest.vip/page/cloudflare/address_v6.html | awk '/移动/{getline; print}' | awk -F '[<>]' '{print $3}' | awk '{print "["$0"]#CMCC-IPv6_WeTest_" NR}' >> ./ip.txt
          
      - name: Commit and Push changes
        run: |
          # 配置 git 机器人信息
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # 添加生成的文件
          git add ./ip.txt
          
          # 检查是否有内容变动，有变动才提交，防止报错
          if git diff --staged --quiet; then
            echo "IP 数据无变化，跳过提交"
          else
            git commit -m "Auto-update IPs"
            git push
          fi
